controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

joint_trajectory_controller:
  ros__parameters:
    type: joint_trajectory_controller/JointTrajectoryController
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity

gripper_action_controller:
  ros__parameters:
    type: position_controllers/GripperActionController
    joint: robotiq_85_left_knuckle_joint
    goal_tolerance: 0.01
    allow_stalling: true
    action_monitor_rate: 20.0
    stall_velocity_threshold: 0.001
    stall_timeout: 1.0
    max_effort: 0.0
